In [1]:
import pandas as pd
import re
from indicnlp.tokenize import indic_tokenize

In [2]:
df = pd.read_csv('data/processed_data.csv', encoding='utf-8')

In [3]:
df.head(), df.count()

(                                               Hindi  \
 0  कुछ वर्षों पहले मुझे ऐसा लगा जैसे मैं किसी उदा...
 1                          यह विचार बहुत ही सरल है |
 2  ऐसे किसी चीज के बारे में सोचिये जिसे आप हमेशा ...
 3  यह पता चला है कि 30 दिन पर्याप्त समय है, कोई न...
 4  इस 30 दिन की चुनौतियों के दौरान मैंने कुछ बाते...

                                               Telugu
 0  కొన్ని సంవత్సరాల ముందు, నేను బాగా ఆచరానములో ఉన...
 1                            ఈ ఆలోచన చాలా సులభమైనది.
 2  మీ జీవితములో మీరు చేయాలి అనుకునే పనిని ఆలోచించ...
 3  ఫలితము దక్కుతుంది. 30 రోజులనేది మీ జీవితములో ఒ...
 4  ఈ 30 రోజులు పాటించే విధానములో నేను కొన్ని విషయ...  ,
 Hindi     2648
 Telugu    2648
 dtype: int64)

In [4]:
from indicnlp.tokenize import indic_tokenize

In [5]:
df['Hindi'] = df['Hindi'].astype(str)
df['Telugu'] = df['Telugu'].astype(str)
df['Hindi'] = df['Hindi'].apply(lambda x: re.sub(r'\s+', ' ', x).strip())
df['Telugu'] = df['Telugu'].apply(lambda x: re.sub(r'\s+', ' ', x).strip())

In [6]:
df.head()

,Hindi,Telugu
0,कुछ वर्षों पहले मुझे ऐसा लगा जैसे मैं किसी उदा...,"కొన్ని సంవత్సరాల ముందు, నేను బాగా ఆచరానములో ఉన..."
1,यह विचार बहुत ही सरल है |,ఈ ఆలోచన చాలా సులభమైనది.
2,ऐसे किसी चीज के बारे में सोचिये जिसे आप हमेशा ...,మీ జీవితములో మీరు చేయాలి అనుకునే పనిని ఆలోచించ...
3,"यह पता चला है कि 30 दिन पर्याप्त समय है, कोई न...",ఫలితము దక్కుతుంది. 30 రోజులనేది మీ జీవితములో ఒ...
4,इस 30 दिन की चुनौतियों के दौरान मैंने कुछ बाते...,ఈ 30 రోజులు పాటించే విధానములో నేను కొన్ని విషయ...

In [7]:
pattern = r'|'

df['Hindi'] = df['Hindi'].str.replace(pattern, '')
df['Telugu'] = df['Telugu'].str.replace(pattern, '')

C:\Users\bhavi\AppData\Local\Temp\ipykernel_15464\2694756595.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Hindi'] = df['Hindi'].str.replace(pattern, '')
C:\Users\bhavi\AppData\Local\Temp\ipykernel_15464\2694756595.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Telugu'] = df['Telugu'].str.replace(pattern, '')

In [8]:
df.head()

,Hindi,Telugu
0,कुछ वर्षों पहले मुझे ऐसा लगा जैसे मैं किसी उदा...,"కొన్ని సంవత్సరాల ముందు, నేను బాగా ఆచరానములో ఉన..."
1,यह विचार बहुत ही सरल है,ఈ ఆలోచన చాలా సులభమైనది.
2,ऐसे किसी चीज के बारे में सोचिये जिसे आप हमेशा ...,మీ జీవితములో మీరు చేయాలి అనుకునే పనిని ఆలోచించ...
3,"यह पता चला है कि 30 दिन पर्याप्त समय है, कोई न...",ఫలితము దక్కుతుంది. 30 రోజులనేది మీ జీవితములో ఒ...
4,इस 30 दिन की चुनौतियों के दौरान मैंने कुछ बाते...,ఈ 30 రోజులు పాటించే విధానములో నేను కొన్ని విషయ...

In [9]:
df['Hindi_Tokens'] = df['Hindi'].apply(lambda x:indic_tokenize.trivial_tokenize(x))
df['Telugu_Tokens'] = df['Telugu'].apply(lambda x:indic_tokenize.trivial_tokenize(x))

In [10]:
df.head()

,Hindi,Telugu,Hindi_Tokens,Telugu_Tokens
0,कुछ वर्षों पहले मुझे ऐसा लगा जैसे मैं किसी उदा...,"కొన్ని సంవత్సరాల ముందు, నేను బాగా ఆచరానములో ఉన...","[कुछ, वर्षों, पहले, मुझे, ऐसा, लगा, जैसे, मैं,...","[కొన్ని, సంవత్సరాల, ముందు, ,, నేను, బాగా, ఆచరా..."
1,यह विचार बहुत ही सरल है,ఈ ఆలోచన చాలా సులభమైనది.,"[यह, विचार, बहुत, ही, सरल, है]","[ఈ, ఆలోచన, చాలా, సులభమైనది, .]"
2,ऐसे किसी चीज के बारे में सोचिये जिसे आप हमेशा ...,మీ జీవితములో మీరు చేయాలి అనుకునే పనిని ఆలోచించ...,"[ऐसे, किसी, चीज, के, बारे, में, सोचिये, जिसे, ...","[మీ, జీవితములో, మీరు, చేయాలి, అనుకునే, పనిని, ..."
3,"यह पता चला है कि 30 दिन पर्याप्त समय है, कोई न...",ఫలితము దక్కుతుంది. 30 రోజులనేది మీ జీవితములో ఒ...,"[यह, पता, चला, है, कि, 30, दिन, पर्याप्त, समय,...","[ఫలితము, దక్కుతుంది, ., 30, రోజులనేది, మీ, జీవ..."
4,इस 30 दिन की चुनौतियों के दौरान मैंने कुछ बाते...,ఈ 30 రోజులు పాటించే విధానములో నేను కొన్ని విషయ...,"[इस, 30, दिन, की, चुनौतियों, के, दौरान, मैंने,...","[ఈ, 30, రోజులు, పాటించే, విధానములో, నేను, కొన్..."

In [11]:
tokenized_df = df[['Hindi_Tokens', 'Telugu_Tokens']]
preprocessed_df = df[['Hindi', 'Telugu']]

In [12]:
tokenized_df.head()

,Hindi_Tokens,Telugu_Tokens
0,"[कुछ, वर्षों, पहले, मुझे, ऐसा, लगा, जैसे, मैं,...","[కొన్ని, సంవత్సరాల, ముందు, ,, నేను, బాగా, ఆచరా..."
1,"[यह, विचार, बहुत, ही, सरल, है]","[ఈ, ఆలోచన, చాలా, సులభమైనది, .]"
2,"[ऐसे, किसी, चीज, के, बारे, में, सोचिये, जिसे, ...","[మీ, జీవితములో, మీరు, చేయాలి, అనుకునే, పనిని, ..."
3,"[यह, पता, चला, है, कि, 30, दिन, पर्याप्त, समय,...","[ఫలితము, దక్కుతుంది, ., 30, రోజులనేది, మీ, జీవ..."
4,"[इस, 30, दिन, की, चुनौतियों, के, दौरान, मैंने,...","[ఈ, 30, రోజులు, పాటించే, విధానములో, నేను, కొన్..."

In [13]:
preprocessed_df.head()

,Hindi,Telugu
0,कुछ वर्षों पहले मुझे ऐसा लगा जैसे मैं किसी उदा...,"కొన్ని సంవత్సరాల ముందు, నేను బాగా ఆచరానములో ఉన..."
1,यह विचार बहुत ही सरल है,ఈ ఆలోచన చాలా సులభమైనది.
2,ऐसे किसी चीज के बारे में सोचिये जिसे आप हमेशा ...,మీ జీవితములో మీరు చేయాలి అనుకునే పనిని ఆలోచించ...
3,"यह पता चला है कि 30 दिन पर्याप्त समय है, कोई न...",ఫలితము దక్కుతుంది. 30 రోజులనేది మీ జీవితములో ఒ...
4,इस 30 दिन की चुनौतियों के दौरान मैंने कुछ बाते...,ఈ 30 రోజులు పాటించే విధానములో నేను కొన్ని విషయ...

In [14]:
tokenized_df.to_csv('data/tokenized_data.csv', index=False, encoding='utf-8')
preprocessed_df.to_csv('data/preprocessed_data.csv', index=False, encoding='utf-8')